

.OuterTextContainer{
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
   font-size: 1.5em;
   line-height: 20px;
  color: #003580;
}
.ButtonContainer{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
}

.CardComponent{
    display: flex;
    align-items: center;
    height: 250px;
    /* flex-wrap: wrap; */
    width: 100%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
}
.FormCustomize{ 
width: 100%;
padding-left: 30px;
}
.InputOuterStyleFrom{
    background-color: #fff;
    border: 2px solid #c7d0de;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #808fa6;
height: 60px;
width: 30%;
}
.InputOuterStyleTo{
    margin-left: 15px;
    height: 60px;
    width: 30%;
    background-color: #fff;
    border: 2px solid #c7d0de;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #808fa6;
}
.InputOuterStyleOneWay{
    height: 60px;
    margin-left: 15px;
width: 35%;
background-color: #fff;
box-sizing: border-box;
border-radius: 6px;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #808fa6;
}
.InputOuterStyleRounderWay{
    height: 60px;
    width: 50%;
    background-color: #fff;
    border: 2px solid #c7d0de;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #808fa6;
}
.InputOuterStyleReturn{
    height: 60px;
    width: 50%;
    background-color: #fff;
    border: 2px solid #c7d0de;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #808fa6;
}
.FlightDepartReturn{
    display: flex;
    width: 35%;
    margin-left: 15px;
    flex-direction: row;
}
.InputOuterStyle::placeholder{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
   line-height: 20px;
}
.InputCustomize{
    height: 100%!important;
    margin: 0!important;
}
.CalenderCustomize{
    margin-left: 15px;
}
.CalenderCustomizeHotel{
    margin-left: 15px;
    width: 40%; 
}
.DateRangePickerInput{
    display: flex;
    align-items: center;
    /* border: 1px solid #ced4da */

}
.DateInput{
    width: auto;
}
.DateInput_input{
    height: 60px;
    margin: 0!important;
    background-color: #fff;
border: 3px solid #c7d0de;
box-sizing: border-box;
border-radius: 6px;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #808fa6;
}
.DateInput_input:focus{
    color: #495057;
    /* border-radius: .25rem; */
    background-color: #fff;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.DateInput_input::placeholder{
    color: #808fa6;
}
.DateRangePickerInput_arrow{
    color:#2EC2E2!important;
}
.DateRangePickerInput_arrow_svg{
    fill:#2EC2E2!important;
}
.DateRangePickerInput__withBorder{
border-style: none!important;
}
.CheckBoxContainer{
    width: 300px;
}
.LowerFlightButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: yellow; */
}
.Passenger{
   flex: auto;
   justify-content: flex-end;
   padding-top: 20px;
    display: flex;
}
.PassengerType{
    margin-right: 15px;

}
.DropDownMewnuCustomize{
    box-shadow: none!important;
}
.DropDownMewnuCustomize button{
    box-shadow: none!important;
}
.DropDownMewnuCustomize button:hover{
    background-color: transparent;
    transform: none!important;
}
.PassengerTypeInput{
    border-width: 0px!important;

}
.PassengerTypeInput:hover{
    background-color: #f4f2f7;
    }
.ClassType{
   
}
.ClassTypeInput{
    border-width: 0px!important;
   
}
.ClassTypeInput:active{
border-width: 0px;
}
.ClassTypeInput:hover{
    background-color: #f4f2f7;
}

.PassengerButton{

    display: flex;
margin-left: 50px;
padding-right: 2%;   
    /* margin-top: 20px; */
}
.ButtonSearch{
    background-color:#003580 !important ;
    width: 150px;
    height: 50px;
}

/* Hotel Seach COmponent Customize */
.InputOuterStyleDest{
height: 60px;
background-color: #fff;
border: 2px solid #c7d0de;
box-sizing: border-box;
border-radius: 6px;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #808fa6;
width: 34%;
}
.InputOuterStyleCheckIn{
    margin-left: 15px;
    width: 20%;
    height: 60px;
}
.InputOuterStyleCheckOut{
    width: 20%;
    height: 60px;
}
.InputOuterStyleGuest{
    margin-left: 15px;
    width: 21%;
    height: 60px;
    background-color: #fff;
    border: 2px solid #c7d0de;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #808fa6;
}
.RoomsCounterCustomize{
    display: flex;
    justify-content: space-between;
}
.RoomsCustomize{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
   line-height: 20px;
}
.CouterNumerStyling{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 20px;
   width: 36px;
}
.RoomsLogoCounter{
    padding-left: 20px;
display: flex;
justify-content: flex-end;
}
.RoomsCounterCustomizeAdults{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.CustomizAwesomeIcon{
    cursor: pointer;
     color:#003580;
}
.PassengerButtonHotel{
    display: flex;
    justify-content: flex-end;
    display: flex;
    flex: auto;
    padding-right: 2%;
    margin-bottom: 10px;
}
.toast.show {
    background-color: #FFFF;
    z-index: 10;
    position: absolute;
    display: block;
    opacity: 1;
    width: 100%;
}

/* styling for card component */
@media screen and (max-width: 480px) {
    .CardComponent{
        height: auto;
    }
    .InputOuterStyleDest{
        height: 60px;
        width: 100%;
        }
        .InputOuterStyleCheckIn{
            margin-left: 0px;
            width: 100%;
            height: 60px;
        }
        .InputOuterStyleCheckOut{
            width: 100%;
            height: 60px;
        }
        .InputOuterStyleFrom{
            width: 100%;
        }
        .InputOuterStyleGuest{
            margin-left: 0px;
            width: 100%;
            height: 60px;
        }
        .FormCustomize{
            padding-left:10px;
            padding-right:10px;       
       
         }
         .ButtonGroupComponent{
             width: 100%;
         }
         .SignupButtonContainer{
justify-content: flex-start;
         }
         .TopButtonContainer{
width: 100%;
         }
         .CardOuterComponent{
             margin-top: 10px;
             width: 100%;
         }
         .RecomandedHotel{
margin-top: 10px;
margin-bottom: 10px;
         }
         .ButtonGroupComponentCat{
             width: 100%;
             height: auto;
             display: flex;
             overflow: scroll;
             /* flex-wrap: wrap; */
         }
         .ButtonClassCat{
             margin-bottom: 10px;
         }
         .CardStyling{
             width: 100%;
             margin-left:0px;
             margin-top: 15px;
         }
         .CardDisplaying{
width: 100%;
display: flex;
flex-direction: column;
         }
         .InputOuterStyleTo{
margin-left: 0px;
width: 100%;
         }
         .InputOuterStyleOneWay{
             margin-left: 0px;
             width: 100%;
         }
         .SeachContainerComponent{
             width: 100%;
         }
         .FlightDepartReturn{
             margin-left: 0;
             width: 100%;
         }
         .RecomHotelStyling{
             font-size: 20px;
         }
         /* .NavbarIcon{
             height: 50px;
         } */
         .navbar.navbar-expand-md{
             flex-direction: row-reverse;
         }
         .collapse.show.navbar-collapse {
            position: relative;
            z-index: 44;
            margin: 8px -8px;
            transition: all .3s ease-out
         }
         .HomebarTextComponent{
             font-size: 25px;
         }
         .HeaderItemComponent{
             display: flex;
             justify-content: space-between;
         }
         .NavTextCustomize{
             font-size: 14px;
         }
         .HeaderTextHeader{
font-size: 20px;
         }

}