.HomeMainContainer{
    width: 100%;
    /* height: 100vh; */
    /* background-color: teal; */
}
.BackgrundImageContainer{
    height: 300px;
    /* background-color: tomato; */
}
.BackGroundImage{
    background-image: url('../../assets//images/background.png');
    background-size: 100% 100%;
    background-repeat:no-repeat ;
    z-index: 10;
    height: 100%;
}
.SearchMainContainer{
    margin-top: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: green; */
}
.ButtonGroupComponent{
    height: 60px;
    width: 50% ;
  
    /* background-color:red; */
    /* color: red; */
}
.ButtonGroupComponentCat{
    height: 50px;
    width: 600px;
}
.ButtonClass{
    height: 100%;
    background-color:#003580 !important;
    color: #FFFF;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.OuterButtonGroupHome{
height: 60px;
}
.btn-secondary{
    text-decoration: none;
    margin-top: 0px;
    border-color: transparent !important;
}
.btn-secondary:hover{
    text-decoration: none!important;
    transform: none!important;
    border-width: 2px #ffff!important;

}
.btn-secondary:focus{
    text-decoration: none!important;
    transform: none!important;
    border-width: 2px #ffff!important;

}
.OuterButtonGroupHome:hover{
    font-style: normal;
}
.ButtonClassActive{
    height: 100%;
    background-color:#FFFF !important;
    color: #162A49!important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.ButtonClass:active{
    background-color:#2EC2E2 !important;
}
.ButtonClassCat{
    background-color:#003580 !important;
    color: #FFFF;
    color: #2EC2E2!important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
}
.SearchInnerComponent{
    width:70%
}
.CardOuterComponent{
    margin-top: 100px;

}
.LowerHomepage{
    margin-top: 50px;
}
.RecomandedHotel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    /* margin-top: 100px; */
}
.RecomHotelStyling{
    color: #2EC2E2!important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 20px;
}
.CardDisplaying{
    width: 70%;
    display: flex;
    margin-top: 20px;
}
.BusComponentDisplay{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* footer csss */
.Footer {
    background-color: #0f295d;
    padding: 80px 0;
    margin-top: 10%;
    position: relative;
    display: block;
    z-index: 1
}
.Footerbefore::before {
   content: url('../../assets/images/footerbefore.png');
    height: 120px;
    left: 0;
    margin: auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -40px;
    width: 120px;
    z-index: 2;
}
.ContainerFotter {
    padding-right: 15px;
    color: #649bb7 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Copyrights {
    padding: 30px 0;
    position: relative;
    display: block;
    background-color: #061739;;
}
.RightsNepCustomize{
    color: #ffff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

}
a{
    color: #2EC2E2!important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    text-decoration: none!important;
    font-size: 20px;
}

/* Adding the media querry for the responsive design */
@media screen and (max-width: 480px) {
    .BackgrundImageContainer {
      height: 150px;
    }
    .SearchMainContainer{
        margin-top: -20px;
        
       
        /* background-color: green; */
    }
    .SearchInnerComponent{
        width:100%;
        display: flex;
        flex-wrap: wrap;

    }
    .CardDisplaying{
        width: 100%;
       margin-top: 5px;
    }
    .CardComponent{
        display: flex;
        height: 300px;
        flex-direction: column;
    }
  }